.foot {
    width: 100%;
    background-color: #ddddff;
    font-size: 14px;

    height: 10rem;
    padding: 10px;
    margin-top: 3rem;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.foot a {
    text-decoration: none;
}

.foot a:hover {
    color: black;
}