@import url('https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple');

.header {
    width: 100%;
    display: flex;
    padding: 0px;
    margin: 0;
    background-color: #ddddff;
    top: 0;
    height: 5rem;
    align-items: center;
    justify-content: space-between;

}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.list li {
    margin-right: 3rem;
    display: inline-block;
    position: relative;
    justify-content: space-evenly;
}

.list a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    margin: 0;
    color: black;
}

.list a:hover {
    text-shadow: 2px 2px #aaaadd;
    color: #999999;
}

.title a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    color: black;
}

@media(max-width: 880px) {
    .title {
        font-size: 1rem;
    }
}

@media(max-width: 650px) {
    .title {
        display: none;
    }
}