@import url('https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple');

.header {
    width: 100%;
    display: flex;
    padding: 0px;
    margin: 0;
    background-color: #ddddff;
    top: 0;
    height: 5rem;
    align-items: center;
    justify-content: space-between;

}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.list li {
    margin-right: 3rem;
    display: inline-block;
    position: relative;
    justify-content: space-evenly;
}

.list a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    margin: 0;
    color: black;
}

.list a:hover {
    text-shadow: 2px 2px #aaaadd;
    color: #999999;
}

.title a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    color: black;
    margin: 0.5rem;
}

.hamIcon {
    float: right;
}

.hamIcon i {
    display: none;
    font-size: 24px;
    margin: 1rem;
}

.hamIcon button {
    border: none;
    background: none;
    cursor: pointer;
}



@media(max-width: 880px) {
    .header {
        display: block;
    }

    .title a {
        font-size: 2rem;
    }

    .nav {
        display: block;
        width: 100%;
        top: 0;
    }

    .list {
        display: block;
    }

    .list li {
        display: block;
        background-color: blue;
        width: 100%;
        right: -5000px;
    }

    .hamIcon i {
        display: flex;
    }

}