.home {
    margin: 0;
    padding: 0;
    width: 100%;
}

.suggestions {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-content: space-evenly;

    width: 100%;
}

hr {
    border: 10px solid #cccccc;
    margin: 1rem;
    border-radius: 20px;
}

.homeInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.homeInfo p {
    font-size: 2em;
    text-align: center;
    font-size: clamp(1em, 2vw, 3em);
    /* margin: 5px;
    padding: 10px; */
}

.searchButtonArea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.searchButton {
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 20%;
    text-decoration: none;
    color: black;
}

.searchButton:hover {
    background-color: #eaeaea;
    border: 2px solid black;
}



.blockInfo {
    background: rgb(126, 126, 126);
    background: linear-gradient(90deg, rgba(126, 126, 126, 1) 20%, rgba(221, 221, 255, 1) 50%, rgba(120, 120, 120, 1) 80%);
    height: 250px;
}

.blockInfo p {
    text-align: center;
    transform: translate(0%, 150%);
    font-size: 28px;
}

.blockInfo hr {
    transform: translate(0%, 200%);
    border-color: #6e6e6e;

}



@media(max-width: 650) {
    .suggestions {
        display: grid;
        grid-template-columns: 3fr 3fr;
    }

    .blockInfo p {
        transform: translate(0%, 50%);

    }
}

@media (max-width: 460px) {
    .blockInfo p {
        transform: translate(0%, 25%);
    }


}

@media (max-width: 475px) {

    .searchButton {
        width: 30%;
    }

}